{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "oamer@eg.ibm.com",
      "Space": "MC Space"
    },
    "Name": "MultiChoiceSupport",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}